extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Query
  if !rows
    p No result
  else if rows.length > 0
    table
      caption Results of query: #{query}
      thead
        tr
          each key in Object.keys(rows[0])
            th= key
      tbody 
        each row in rows
          tr
            each val in Object.values(row)
              td= val

  h2 Parameterized query
  form#FacSSN_form(method="post", action="/")
    label(for="FacSSN") Faculty ID number:
    if FacSSN && FacSSN.length > 0
      input#FacSSN(type="text", name="FacSSN", pattern!='[0-9]{3}-?[0-9]{2}-?[0-9]{4}', required, value=`${FacSSN}` )
    else 
      input#FacSSN(type="text", name="FacSSN", pattern!='[0-9]{3}-?[0-9]{2}-?[0-9]{4}', required)
    span(class="flag")
    input(type="submit")
  if !FacSSN || FacSSN.length == 0
    p No faculty member selected
  else 
    if !courses || courses.length == 0
      p Professor #{FacSSN} has no courses
      p Query: #{paramQuery}
    else if courses.length > 0
      table
        caption Results of query: #{paramQuery}
        thead
          tr
            each key in Object.keys(courses[0])
              th= key
        tbody 
          each course in courses
            tr
              each val in Object.values(course)
                td= val

  h2 INSERT/UPDATE/DELETE queries

  if !rows
    p Nobody's teaching in this place.
  else if rows.length > 0
    table
      caption Faculty
      thead
        tr
          th ID
          th First
          th Last
          th City
          th State
          th Dept 
          th Rank 
          th Salary 
          th Supervisor 
          th Hire date 
          th Zip code
          th Delete?
          th
      tbody
        each row in rows
          tr
            form(id=`edit-${row.FacSSN}`,method="post",action="/")
            td
              input(type="hidden", name="FacSSN", value=`${row.FacSSN}`,
                    form=`edit-${row.FacSSN}`)
              | #{row.FacSSN}
            td
              input(type="text", name="FacFirstName", value=`${row.FacFirstName}`,
                    required, form=`edit-${row.FacSSN}`)
              span.flag
            td
              input(type="text", name="FacLastName", value=`${row.FacLastName}`,
                    required, form=`edit-${row.FacSSN}`)
              span.flag
            td
              input(type="text", name="FacCity", value=`${row.FacCity}`,
                    required, form=`edit-${row.FacSSN}`)
              span.flag
            td
              //- State
            td
              input(type="text", name="FacDept", value=`${row.FacDept}`,
                    required, form=`edit-${row.FacSSN}`)
              span.flag
            td 
              //- Rank
            td
              input(type="number", step="1000", min="0", name="FacSalary",
                    value=`${row.FacSalary}`, required, form=`edit-${row.FacSSN}`)
              span.flag
            td
              //- Supervisor
            td 
              //- Hire date
            td
              input(type="text", name="FacZip", value=`${row.FacZipCode}`,
                    required, pattern!='[0-9]{5}(-?[0-9]{4})?', 
                    form=`edit-${row.FacSSN}`)
              span.flag
            td
              input(type="checkbox", name='delete', form=`edit-${row.FacSSN}`)
            td
              input(type="submit", form=`edit-${row.FacSSN}`)



  h3 New faculty member
  form#insert_form(method="post", action="/")
    label(for="FacID") ID number:
    input#FacID(type="text",name="FacID",pattern!='[0-9]{3}-?[0-9]{2}-?[0-9]{4}',required,value=`${formdata.FacID ? formdata.FacID : ""}`)  
    span(class="flag")
    br
    label(for="FacFirstName") First Name:
    input#FacFirstName(type="text",name="FacFirstName",required,value=`${formdata.FacFirstName ? formdata.FacFirstName : ""}`)
    span(class="flag")
    br
    label(for="FacLastName") Last Name: 
    input#FacLastName(type="text",name="FacLastName",required,value=`${formdata.FacLastName ? formdata.FacLastName : ""}`)
    span(class="flag")
    br
    label(for="FacCity") City: 
    input#FacCity(type="text",name="FacCity",required,value=`${formdata.FacCity ? formdata.FacCity : ""}`)
    span(class="flag")
    br
    label(for="FacState") State: 
    select#FacState(name="FacState",required)
      option(value="") &mdash;Please choose a state&mdash;
      each state in ['CO', 'SC', 'WA']
        if formdata.FacState === state
          option(selected) #{state}
        else
          option #{state}
      //- I don't feel like adding the other 47 states,
      //- but of course one could
    span(class="flag")
    br
    label(for="FacDept") Department: 
    input#FacDept(type="text",name="FacDept",required,
                  value=`${formdata.FacDept ? formdata.FacDept : ""}`)
    span(class="flag")
    br
    label(for="FacRank") Rank: 
    select#FacRank(name="FacRank",required)
      //- - const rankname = {ASST: 'Assistant Professor', ASSOC: 'Associate Professor', PROF, 'Professor'}
      each pair in [['ASST', 'Assistant Professor'], ['ASSOC', 'Associate Professor'], ['PROF', 'Professor']]
        if formdata.FacRank === pair[0]
          option(value=`${pair[0]}`,selected) #{ pair[1] }
        else
          option(value=`${pair[0]}`) #{ pair[1] }
        //- if formdata.FacRank === rank 
        //-   option(value=rank, selected) #{ranks[rank]}
        //- else
        //-   option(value=rank) #{ranks[rank]}
      //- option(value="ASST") Assistant Professor
      //- option(value="ASSOC") Associate Professor
      //- option(value="PROF") Professor

    span(class="flag")
    br
    label(for="FacSalary") Salary: $ 
    input#FacSalary(type="number",name="FacSalary",min="0",step="1000",value=`${formdata.FacSalary ? formdata.FacSalary : 40000}`,required)
    span(class="flag")
    br
    label(for="FacSupervisor") Supervisor: 
    select#FacSupervisor(name="FacSupervisor",required)
      option(value="") &mdash;Please choose a supervisor&mdash;
      if formdata.FacSupervisor === " "
        option(value=" ",selected) No supervisor
      else
        option(value=" ") No supervisor
      each row in rows
        if formdata.FacSupervisor === row.FacSSN
          option(value=`${row.FacSSN}`,selected) #{row.FacFirstName} #{row.FacLastName}
        else
          option(value=`${row.FacSSN}`) #{row.FacFirstName} #{row.FacLastName}
    span(class="flag")
    br
    label(for="FacZip") Zip code: 
    input#FacZip(type="text",name="FacZip",pattern!='[0-9]{5}(-?[0-9]{4})?',required,value=`${formdata.FacZip ? formdata.FacZip : ""}`)
    span(class="flag")
    br
    input(type="submit")
