extends layout

block content
  h1= title
  p Welcome to #{title}

  h2 Query
  if !rows
    p No result
  else if rows.length > 0
    table
      caption Results of query: #{query}
      thead
        tr
          each key in Object.keys(rows[0])
            th= key
      tbody 
        each row in rows
          tr
            each val in Object.values(row)
              td= val

  h2 Parameterized query
  form(method="post", action="/")
    label(for="FacSSN") Faculty ID number:
    if FacSSN && FacSSN.length > 0
      input#FacSSN(type="text", name="FacSSN", pattern!='[0-9]{3}-?[0-9]{2}-?[0-9]{4}', required, value=`${FacSSN}` )
    else 
      input#FacSSN(type="text", name="FacSSN", pattern!='[0-9]{3}-?[0-9]{2}-?[0-9]{4}', required)
    span(class="flag")
    input(type="submit")
  if !FacSSN || FacSSN.length == 0
    p No faculty member selected
  else 
    p Faculty ID is "#{FacSSN}"
    if !courses
      p Professor #{FacSSN} has no courses
    else if courses.length > 0
      table
        caption Results of query: #{paramQuery}
        thead
          tr
            each key in Object.keys(courses[0])
              th= key
        tbody 
          each course in courses
            tr
              each val in Object.values(course)
                td= val
